<ul>
	<% post.all_comments.each do |comment| %>
  	<li>
		  <%= link_to avatar_for(comment.author, 30), comment.author %>
			<%= link_to comment.author.name, comment.author %>
			<%= comment.content %> 
			<small><em>
				...<%= comment.updated_at.strftime("%b %e, %Y at %k:%M") %>
			</em></small>
			<% if comment.author == current_user %>
				<%= link_to 'delete', comment,
															method: :delete,
															data: { confirm: 'Are you sure?' } %>
			<% end %>
		</li>
	<% end %>
</ul>

