<ul class='feed_posts'>
  <% @posts.each do |post| %>
		<li>
			<%= link_to post.author.name.capitalize, post.author %><br>
			<%= post.content %><br>
			<%= image_tag post.image.variant(resize: "200x200") if post.image.attached? %><br>
			<small><em>
				...<%= post.updated_at.strftime("%b %e, %Y at %k:%M") %>
			</em></small>
			<%= render partial: 'shared/like_form', locals: {post: post} %>
			<% if post.author == current_user %>
			  <%= link_to 'delete', post, method: :delete,
																		data: { confirm: 'Are you sure?' } %>
			<% end %>																		
			<%= render partial: 'shared/comments', locals: {post: post} %>
			<%= render partial: 'shared/comment_form', locals: {post: post} %>
			<br><br>
		</li>
	<% end %>
</ul>
<%= will_paginate @posts%>
