<ul class='feed_posts'>
  <% @posts.each do |post| %>
		<li>
			<%= link_to post.author.name.capitalize, post.author %><br>
			Post:   <%= post.content %><br>
			<%= image_tag(url_for(post.image)) if post.image.attached? %>
			<small><em>
				...<%= post.updated_at.strftime("%b %e, %Y at %k:%M") %>
			</em></small>
			<%= render partial: 'shared/like_form', locals: {post: post} %>
			<%= render partial: 'shared/comments', locals: {post: post} %>
			<%= render partial: 'shared/comment_form', locals: {post: post} %>
			<br><br>
		</li>
	<% end %>
</ul>
