<div class='row'>
	<%= gravatar_for(current_user) %>
	<%= image_tag(url_for(current_user.avatar)) if current_user.avatar.attached?%>
	<h1>Welcome, <%= current_user.name.capitalize %></h1>
</div>
	<section class='write'>
		<%= render 'shared/post_form' %>
	</section>
	<section class='posts'>
	  <%= render 'shared/posts' %>
	</secion>