<header class='navbar navbar-fixed-top'>
	<div class='container'>
		<h4 class='logo'><%= link_to 'odinbook', root_path %></h4>
		<nav>
			<ul class='nav navbar-nav navbar-right'>
				<% if user_signed_in? %>
					<li><%= link_to 'Home', root_path %></li>
					<li>
						<%= link_to "Friend requests (#{current_user.passive_requests.count})",
					 							 notifications_path %>
					</li>
					<li><%= link_to "Friends (#{current_user.friends.count})",
						 						   friends_user_path(current_user.id) %></li>
					<li><%= link_to 'All users', users_path %></li>
					<li class='dropdown'>
						<a href='#' class='dropdown-toggle' data-toggle='dropdown'>
							Notifications <b class='caret'></b>
						</a>
						<ul class='dropdown-menu'>
						  <% @activities.each do |activity| %>
								<div class='activity'>
	  							<li>
										<%= link_to activity.owner.name, activity.owner if activity.owner %>
										<%= render_activity activity %>
									</li>
									<li class='divider'></li>
								</div>
							<% end %>
						</ul>
					</li>
					<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= render 'shared/login' %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>